
@{
    ViewBag.Title = "YeniSınav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form method="post" class="form-group">
        <div>
            <label>Öğrenci ID</label>
            <input type="text" class="form-control" name="ÖğrenciID" />
        </div>
        <div style="margin-top:12px;">
            <label>Ders Adı</label>
            <input type="text" class="form-control" name="DersID" />
        </div>
        <div style="margin-top:12px;">
            <label>Sınav 1 </label>
            <input type="text" class="form-control" name="Sınav1" />
        </div>
        <div style="margin-top:12px;">
            <label>Sınav 2</label>
            <input type="text" class="form-control" name="Sınav2" />
        </div>
        <div style="margin-top:12px;">
            <label>Sınav 3</label>
            <input type="text" class="form-control" name="Sınav3" />
        </div>
        <div style="margin-top:12px;">
            <label>Proje</label>
            <input type="text" class="form-control" name="Proje" />
        </div>
        <div style="margin-top:12px;">
            <label>Ortalama</label>
            <input type="text" class="form-control" name="Ortalama" />
        </div>
        <div style="margin-top:12px;">
            <label>Durum</label>
            <input type="text" class="form-control" name="Durum" />
        </div>

        <div style="margin-top:12px;">
            <button class="btn btn-primary">Sınav Ekle</button>
        </div>
    </form>
</div>

